html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 62.5%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

.grid {
  height: 40rem;
  width: 40rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #ddd;
}

.grid div {
  height: 4rem;
  width: 4rem;
}

.bomb {
  background-color: orange;
}

.checked {
  background-color: red;
}

@media screen and (min-width: 64em) {
  h1 {
    font-size: 3rem;
  }
}